input {
    width: 35px;
    color: black;
    padding: 0;
}

:host {
    color: white;
    display: grid;
    grid-template-columns: 1fr
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.http-status {
  font-size: 10px;
}