.edit {
    color: white;
    display: grid;
    grid-template-columns: 35px 20px 35px;
    justify-items: center;
}
input {
    width: 35px;
    color: black;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.time-colon {
  color: black;
}
